html {
    scroll-behavior: smooth;
  }

body {
  background: rgb(165, 222, 248);
  position: relative;
  background-image: url(imgs/hills.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 100vh;

}
  

.main-header {
    background-image: url(imgs/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100vh;
    width: 422vh;
    height:100vh;  /* responsive height */
}


.laptop {
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    width: 2%;
    height: 6%;
    top: 69%;
    left: 28%;
    cursor: pointer;
}

.gitaar {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 2%;
  height: 19%;
  top: 71%;
  left: 4.3%;
  cursor: pointer;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  transform: rotate(-5deg);
}

.sputnik {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 7.5vh;
  height: 7.5vh;
  top: 17.3%;
  left: 17.64%;
  cursor: pointer;
  border-radius: 100%;
}

.resume {
background-color: rgba(255, 0, 0, 0);
position: relative;
width: 7.3vh;
height: 4.5vh;
top: 34%;
left: 39.5%;
cursor: pointer;
transform: rotate(0deg);
}


.zwemjas {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 10vh;
  height: 10vh;
  top: 20vh;
  left: 11%;
  cursor: pointer;
  border-style: solid;
  border-width: 0.1vh;
  background-image: url(imgs/zeekoe.jpg);
  background-size: contain;
}

.modal-content {
  background-color: rgba(158, 189, 235, 0.9) !important;
  border-radius: 5px !important;
  border-width: 0;
}

