body {
  color: #FFFFFB;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

section {
  padding: 0 0;
  height: 100vh; 
}


.hill {
    height: 100vh;
    width:auto;
    background: rgb(165, 222, 248);
    position: relative;
    background-image: url(imgs/hills.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100vh;

}

.house {
  position: absolute;
  top: 20%;
  left: 40%;
  zoom: 2;
}

.smoke1 {
  display: none;
  position: relative;
  width: 50;
  height: 100;
  bottom: 187;
  left: 102;
  transform: rotate(25deg);

  margin: 0 auto;
  background-image: url(imgs/smoke.png);
  background-size: 35 80;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.smoke2 {
  display: none;
  position: relative;
  width: 40;
  height: 80;
  bottom: 190;
  left: 72;
  transform: rotate(10deg);

  margin: 0 auto;
  background-image: url(imgs/smoke.png);
  background-size: 30 60;
  background-repeat: no-repeat;
  background-position: bottom center;
}


.roof {
  position: relative;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.3);
	width: 300;
	height: 150;
  background-image: url(imgs/roof.jpg);
  background-position: center;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  margin: 0 auto;

}

.chimney {
  position: absolute;
  width: 40;
  height: 70;
  bottom: 30;
  left: 60;
  background-image: url(imgs/chimney.png);
  background-size: 50 90;
  background-repeat: no-repeat;
  background-position: bottom center;
  
}

.wall {
position: relative;
top: 30%;
background-color: rgba(0, 0, 0, 0.3);
width: 260;
height: 260;
margin: 0 auto;
background-image: url(imgs/wall.jpg);
background-size: 260 260;
}

.window
{
  position:absolute;
  bottom:140px;
  left:25px;

  width:130px;
  height:90px;
  background-image: url(imgs/window.png);
  background-position: center;
  background-repeat: no-repeat;

  background-size: 130 80;
  z-index: 3;
}
.inside
{
  background-color: teal;
  position:absolute;
  bottom:17px;
  left:36px;
  width:62px;
  height:56px;
  background-image: url(imgs/insideview.jpg);
  background-size: cover;
  z-index: 0;
}

.doorframe {
  background-image: url(imgs/doorframe.jpg);
  background-size: 90 149;
  background-position: center bottom;
  background-repeat: no-repeat;

  position:absolute;
  bottom:0px;
  left:140px;
  width:90px;
  height:150px;
  opacity: 1;
}

.backDoor
{
  background-color: #333;
  background-image: url(imgs/entrence.jpg);
  background-size: 100 149;
  background-position: left;

  position:absolute;
  bottom:0px;
  left:150px;
  width:70px;
  height:120px;
  opacity: 1;
}


.door
{
  background-color: brown;
  background-image: url(imgs/door.jpg);
  background-size: 70 120;

  position:absolute;
  top:0px;
  left:0px;
  width:70px;
  height:120px;
  z-index: 0;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 1.5s ease-in-out;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-130deg);
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /*Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(40, end),
    blink-caret 0.9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}